In [4825]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import warnings
warnings.simplefilter('ignore')

In [4826]:
TRAIN_DATASET_PATH = './course_project_train.csv'
TEST_DATASET_PATH = './course_project_test.csv'

In [4827]:
df_train = pd.read_csv(TRAIN_DATASET_PATH)

df_test = pd.read_csv(TEST_DATASET_PATH)

df_train.shape, df_test.shape

((7500, 17), (2500, 16))

In [4828]:
class Data:
    """Подготовка исходных данных"""
    
    def __init__(self):
        """Параметры класса"""
        self.medians = None
        self.years_mode = None
        self.years_to_numbers = None
        self.Years_of_Credit_History_max = None
        self.Annual_Income_condition = None
        self.Maximum_Open_Credit_min = None
        self.Maximum_Open_Credit_max = None
        self.condition_last_delinquent = None
        self.Current_Loan_Amount_max = None
        self.Credit_Score_max = None
        self.condition_Credit_Score = None
        self.Credit_Score_min = None
        self.Annual_Income_max = None
        self.Monthly_Debt_max = None
        self.Months_since_last_delinquent_max = None
        
        
    def fit(self, df):
        
        
        # Расчет медиан
        self.medians = df.median()
        
        
        self.years_mode = df['Years in current job'].mode()[0]
        
        self.years_to_numbers = {'< 1 year': 0,
                                 '1 year': 1,
                                 '2 years': 2,
                                 '3 years': 3,
                                 '4 years': 4,
                                 '5 years': 5,
                                 '6 years': 6,
                                 '7 years': 7,
                                 '8 years': 8,
                                 '9 years': 9,
                                 '10+ years': 10}
        
        self.Years_of_Credit_History_max = df['Years of Credit History'].quantile(0.99)
        
        self.Annual_Income_max = 3000000
       
        self.Maximum_Open_Credit_max = 1400000
        
        
        self.Credit_Score_max = 751
        self.Credit_Score_min = 600
       
        self.Monthly_Debt_max = 48000
        self.Monthly_Debt_min = 0
        
        self.Current_Loan_Amount_max = 900000
        
        self.Current_Credit_Balance_max = 1000000
        
        self.Number_of_Open_Accounts_max = 25
        
        self.Months_since_last_delinquent_max = 95
       
        
    def transform(self, df):
        """Трансформация данных"""
            
    # 1. Изменение типа

        # Term, Home Ownership
        df.loc[(df['Home Ownership'] == 'Have Mortgage'), 'Home Ownership'] = 'Home Mortgage' # объединение одинаковых по смыслу свойства признака
        df = pd.get_dummies(df, columns=['Term'])
        df = pd.get_dummies(df, columns=['Home Ownership'])
#         df.drop(['Home Ownership'], axis=1, inplace=True)
#         df.drop(['Term'], axis=1, inplace=True)
        
        # Years in current job
#         df['Years in current job'].fillna(self.years_mode, inplace=True) # заполнение пропусков наиболее часто встречающимися значениями
#         df['Years in current job'].replace(self.years_to_numbers, inplace=True)
        df.drop('Years in current job', axis=1, inplace=True)
    
    
    # 2. Выбросы (outliers)
    
        # Number of Open Accounts
#         df.loc[df['Number of Open Accounts'] > self.Number_of_Open_Accounts_max, 'Number of Open Accounts'] = None
        df['Number of Open Accounts'].clip(upper=self.Number_of_Open_Accounts_max, axis=0, inplace=True)
        
        # Current Credit Balance
#         df.loc[(df['Current Credit Balance'] > self.Current_Credit_Balance_max), 'Current Credit Balance'] = None
        df['Current Credit Balance'].clip(upper=self.Current_Credit_Balance_max, axis=0, inplace=True)

    
        # Years of Credit History
        df['Years of Credit History'].clip(upper=self.Years_of_Credit_History_max, axis=0, inplace=True)
        
        # Maximum Open Credit
        df['Maximum Open Credit'].clip(upper=self.Maximum_Open_Credit_max, axis=0, inplace=True)
        
        # Monthly Debt
#         df.loc[(df['Monthly Debt'] > self.Monthly_Debt_max), 'Monthly Debt'] = None
        df['Monthly Debt'].clip(upper=self.Monthly_Debt_max, lower= self.Monthly_Debt_min, axis=0, inplace=True)
        
        # Purpose
        df.loc[(df['Purpose'] != 'debt consolidation') & (df['Purpose'] != 'home improvements'), 'Purpose'] = 'other'
        df = pd.get_dummies(df, columns=['Purpose'])
#         df.drop('Purpose', axis=1, inplace=True)
        
        # Credit Score
#         df.loc[(df['Credit Score'] > self.Credit_Score_max) | (df['Credit Score'] < self.Credit_Score_min), 'Credit Score'] = None 
        df['Credit Score'].clip(upper=self.Credit_Score_max, lower=self.Credit_Score_min, axis=0, inplace=True)
        
    
        # Annual Income
#         df.loc[df['Annual Income'] > self.Annual_Income_max, 'Annual Income'] = None
        df['Months since last delinquent'].clip(upper=self.Months_since_last_delinquent_max, axis=0, inplace=True)
        
        # Current Loan Amount
#         df.loc[df['Current Loan Amount'] > self.Current_Loan_Amount_max, 'Current Loan Amount'] = None
        df['Current Loan Amount'].clip(upper=self.Current_Loan_Amount_max, axis=0, inplace=True)
    
        # Months since last delinquent
        df['Months since last delinquent'].clip(upper=self.Months_since_last_delinquent_max, axis=0, inplace=True)
        
        
        
        df.drop('Bankruptcies', axis=1, inplace=True)
        df.drop('Tax Liens', axis=1, inplace=True)
#         df.drop('Months since last delinquent', axis=1, inplace=True)
        
        
        
         
        
    # 3. Пропуски
        
        
        # Заполнение оставшихся пропусков медианами
        
        df.fillna(self.medians, inplace=True)
        
        

        return df

In [4829]:
X = df_train.drop(columns='Credit Default')

In [4830]:
y = df_train['Credit Default']

# Нормализация

In [4831]:
NUMERIC_FEATURE_NAMES  = X_train.select_dtypes(include={'float', 'int'}).columns.to_list()

In [4832]:
NUMERIC_FEATURE_NAMES

['Annual Income',
 'Number of Open Accounts',
 'Years of Credit History',
 'Maximum Open Credit',
 'Number of Credit Problems',
 'Months since last delinquent',
 'Current Loan Amount',
 'Current Credit Balance',
 'Monthly Debt',
 'Credit Score']

In [4833]:
scaler = StandardScaler()

def scal(df):
    df_norm = df.copy()
    df_norm[NUMERIC_FEATURE_NAMES] = scaler.fit_transform(df_norm[NUMERIC_FEATURE_NAMES])

    df = df_norm.copy()
    
    return df

In [4834]:
X_train = scal(X_train)
X_test = scal(X_test)

In [4835]:
X_test.head(2)

,Annual Income,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Term_Long Term,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_debt consolidation,Purpose_home improvements,Purpose_other
274,-0.510724,-0.656915,-0.779807,-1.046512,-0.351064,-0.956851,-0.513795,-0.611247,-0.152151,-2.471803,0,1,0,0,1,1,0,0
3330,-0.232583,-0.016619,0.277611,-0.892804,1.625649,-0.114857,-0.919285,-0.584690,1.319420,0.300508,0,1,0,0,1,1,0,0

# Разбиение выборки

In [4836]:
from sklearn.model_selection import train_test_split, KFold, GridSearchCV, cross_val_score,  RandomizedSearchCV

# 3. Модели
from sklearn.linear_model import LogisticRegression
import xgboost as xgb, lightgbm as lgbm, catboost as catb
from sklearn.preprocessing import StandardScaler

# 4. Метрики качества
from sklearn.metrics import classification_report, f1_score, precision_score, recall_score

In [4837]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, shuffle=True)

In [4838]:
data = Data()

In [4839]:
data.fit(X_train)

X_train = data.transform(X_train)
X_test = data.transform(X_test)

X_train.isna().sum().sum(), X_test.isna().sum().sum()

(0, 0)

# Балансировка

In [4840]:
y_train.value_counts()

0    4024
1    1601
Name: Credit Default, dtype: int64

In [4841]:
TARGET_NAME = 'Credit Default'

In [4842]:
def balance_df_by_target(df, target_name):

    target_counts = df[target_name].value_counts()

    major_class_name = target_counts.argmax()
    minor_class_name = target_counts.argmin()

    disbalance_coeff = int(target_counts[major_class_name] / target_counts[minor_class_name]) - 1

    for i in range(disbalance_coeff):
        sample = df[df[target_name] == minor_class_name].sample(target_counts[minor_class_name])
        df = df.append(sample, ignore_index=True)

    return df.sample(frac=1)

In [4843]:
df_for_balancing = pd.concat([X_train, y_train], axis=1)
df_for_balancing

,Annual Income,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Term_Long Term,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Default
1137,1259833.0,25.0,20.0,828058.0,0.0,32.0,466796.0,451250.0,28556.0,730.0,0,1,1,0,0,1,0,0,0
3141,1033885.0,5.0,6.5,134992.0,0.0,32.0,172656.0,111568.0,12407.0,737.0,0,1,0,0,1,1,0,0,1
4986,770108.0,9.0,15.0,568172.0,0.0,32.0,390126.0,383724.0,21114.0,714.0,1,0,0,0,1,1,0,0,0
7412,1454013.0,16.0,27.6,1400000.0,0.0,32.0,658702.0,815328.0,20477.0,718.0,1,0,1,0,0,1,0,0,0
3951,1142318.0,13.0,20.4,754490.0,0.0,32.0,433664.0,495216.0,29034.0,712.0,0,1,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,1318695.0,12.0,14.2,305536.0,0.0,32.0,900000.0,237215.0,30880.0,732.0,0,1,1,0,0,1,0,0,0
5356,1730007.0,16.0,16.4,745690.0,0.0,25.0,900000.0,321366.0,18165.0,744.0,0,1,1,0,0,1,0,0,0
367,1076882.0,6.0,17.8,25784.0,0.0,32.0,77924.0,6821.0,11935.0,743.0,0,1,0,0,1,0,0,1,1
4502,768968.0,10.0,8.0,115698.0,0.0,32.0,204226.0,59660.0,14034.0,737.0,0,1,1,0,0,0,1,0,0
2047,939759.0,16.0,16.8,199760.0,1.0,32.0,182094.0,112822.0,27409.0,721.0,0,1,1,0,0,1,0,0,1

In [4844]:
df_balanced = balance_df_by_target(df_for_balancing, TARGET_NAME)
    
df_balanced[TARGET_NAME].value_counts()

0    4024
1    3202
Name: Credit Default, dtype: int64

In [4845]:
df_balanced

,Annual Income,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Term_Long Term,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Default
4669,1913737.0,11.0,20.1,545094.0,0.0,17.0,447656.0,293740.0,15948.0,693.0,0,1,0,0,1,1,0,0,0
5943,1043651.0,12.0,15.0,0.0,0.0,32.0,175780.0,0.0,19394.0,720.0,0,1,0,0,1,1,0,0,1
2777,720347.0,7.0,20.0,1111066.0,0.0,15.0,299068.0,425068.0,9064.0,692.0,1,0,0,0,1,1,0,0,0
1441,1089498.0,10.0,14.7,1097668.0,0.0,7.0,529518.0,589646.0,19520.0,698.0,0,1,1,0,0,0,0,1,0
2706,1039566.0,8.0,31.6,479028.0,0.0,77.0,218856.0,343387.0,16980.0,751.0,1,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6634,742748.0,9.0,9.0,230010.0,0.0,32.0,301004.0,84816.0,11717.0,660.0,1,0,0,0,1,1,0,0,1
3490,938315.0,8.0,28.0,314578.0,0.0,32.0,217294.0,183920.0,8523.0,705.0,0,1,0,0,1,1,0,0,1
5656,1162467.5,20.0,13.9,1400000.0,0.0,32.0,390896.0,711170.0,19856.0,731.0,0,1,0,0,1,1,0,0,1
5695,1162467.5,13.0,21.5,596530.0,0.0,36.0,446952.0,298813.0,31668.0,731.0,1,0,1,0,0,1,0,0,1
6581,931190.0,10.0,27.0,310948.0,1.0,48.0,257686.0,145027.0,24987.0,642.0,1,0,0,1,0,0,0,1,1

In [4846]:
X_train = df_balanced.drop(columns=TARGET_NAME)
y_train = df_balanced[TARGET_NAME]

# Подбор признаков

In [4847]:
# features = ['Annual Income',
#             'Number of Open Accounts',
#             'Years of Credit History',
#             'Maximum Open Credit',
#             'Number of Credit Problems',
#             'Months since last delinquent',
#             'Current Loan Amount',
#             'Current Credit Balance',
#             'Monthly Debt',
#             'Credit Score']

In [4848]:
# X_train, X_test = X_train[features], X_test[features]

# Построение модели

In [4849]:
def get_classification_report(y_train_true, y_train_pred, y_test_true, y_test_pred):
    print('TRAIN\n\n' + classification_report(y_train_true, y_train_pred))
    print('TEST\n\n' + classification_report(y_test_true, y_test_pred))
    print('CONFUSION MATRIX\n')
    print(pd.crosstab(y_test_true, y_test_pred))

In [4850]:
model_catb = catb.CatBoostClassifier(silent=True, random_state=21)
model_catb.fit(X_train, y_train)

y_train_pred = model_catb.predict(X_train)
y_test_pred = model_catb.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

TRAIN

              precision    recall  f1-score   support

           0       0.89      0.94      0.92      4024
           1       0.92      0.85      0.89      3202

    accuracy                           0.90      7226
   macro avg       0.91      0.90      0.90      7226
weighted avg       0.90      0.90      0.90      7226

TEST

              precision    recall  f1-score   support

           0       0.82      0.84      0.83      1363
           1       0.54      0.50      0.52       512

    accuracy                           0.75      1875
   macro avg       0.68      0.67      0.67      1875
weighted avg       0.74      0.75      0.74      1875

CONFUSION MATRIX

col_0              0    1
Credit Default
0               1144  219
1                258  254

In [4851]:
model_xgb = xgb.XGBClassifier()
model_xgb.fit(X_train, y_train)

y_train_pred = model_xgb.predict(X_train)
y_test_pred = model_xgb.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

[22:22:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
TRAIN

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      4024
           1       0.97      0.98      0.97      3202

    accuracy                           0.98      7226
   macro avg       0.98      0.98      0.98      7226
weighted avg       0.98      0.98      0.98      7226

TEST

              precision    recall  f1-score   support

           0       0.81      0.84      0.82      1363
           1       0.53      0.48      0.50       512

    accuracy                           0.74      1875
   macro avg       0.67      0.66      0.66      1875
weighted avg       0.73      0.74      0.74      1875

CONFUSION MATRIX

col_0              0    1
Credit Default
0               1142  221
1                266  246

In [4852]:
model_lgbm = lgbm.LGBMClassifier(random_state=21)
model_lgbm.fit(X_train, y_train)

y_train_pred = model_lgbm.predict(X_train)
y_test_pred = model_lgbm.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

TRAIN

              precision    recall  f1-score   support

           0       0.92      0.94      0.93      4024
           1       0.92      0.90      0.91      3202

    accuracy                           0.92      7226
   macro avg       0.92      0.92      0.92      7226
weighted avg       0.92      0.92      0.92      7226

TEST

              precision    recall  f1-score   support

           0       0.81      0.83      0.82      1363
           1       0.51      0.49      0.50       512

    accuracy                           0.73      1875
   macro avg       0.66      0.66      0.66      1875
weighted avg       0.73      0.73      0.73      1875

CONFUSION MATRIX

col_0              0    1
Credit Default
0               1125  238
1                263  249

# Финальная модель

In [4853]:
model_catb = catb.CatBoostClassifier(silent=True, random_state=21)

In [4854]:
params = {'n_estimators':[500, 1000, 1500, 2000, 2500, 3000], 
          'max_depth':[5, 6, 7, 8, 10],
          'learning_rate':[0.001, 0.01, 0.05]}

In [4855]:
cv=KFold(n_splits=3, shuffle=True)

In [4856]:
# %%time

# rs = RandomizedSearchCV(model_catb, params, scoring='f1', cv=cv, n_jobs=-1)
# rs.fit(X_train, y_train)

In [4857]:
# rs.best_params_

In [4858]:
# rs.best_score_

In [4859]:
%%time

final_model = catb.CatBoostClassifier(n_estimators=3000, max_depth=6, learning_rate=0.01,
                                      silent=True)
final_model.fit(X_train, y_train)

y_train_pred = final_model.predict(X_train)
y_test_pred = final_model.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

TRAIN

              precision    recall  f1-score   support

           0       0.92      0.96      0.94      4024
           1       0.94      0.89      0.92      3202

    accuracy                           0.93      7226
   macro avg       0.93      0.92      0.93      7226
weighted avg       0.93      0.93      0.93      7226

TEST

              precision    recall  f1-score   support

           0       0.82      0.84      0.83      1363
           1       0.54      0.49      0.52       512

    accuracy                           0.75      1875
   macro avg       0.68      0.67      0.67      1875
weighted avg       0.74      0.75      0.74      1875

CONFUSION MATRIX

col_0              0    1
Credit Default
0               1150  213
1                260  252
Wall time: 15.3 s

In [4860]:
feature_importances = pd.DataFrame(zip(X_train.columns, 
                                       final_model.feature_importances_), 
                                   columns=['feature_name', 'importance'])

feature_importances.sort_values(by='importance', ascending=False, inplace=True)

In [4861]:
feature_importances

                    feature_name  importance
6            Current Loan Amount   20.686166
9                   Credit Score   18.459263
3            Maximum Open Credit    9.114798
0                  Annual Income    8.781938
2        Years of Credit History    8.284489
8                   Monthly Debt    8.218715
7         Current Credit Balance    7.430632
1        Number of Open Accounts    5.445712
5   Months since last delinquent    4.729035
10                Term_Long Term    1.998772
11               Term_Short Term    1.730326
12  Home Ownership_Home Mortgage    1.013845
14           Home Ownership_Rent    0.965495
4      Number of Credit Problems    0.869336
17                 Purpose_other    0.712739
15    Purpose_debt consolidation    0.603558
16     Purpose_home improvements    0.514285
13       Home Ownership_Own Home    0.440895