In [2558]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import warnings
warnings.simplefilter('ignore')

In [2559]:
TRAIN_DATASET_PATH = './course_project_train.csv'
TEST_DATASET_PATH = './course_project_test.csv'

In [2560]:
df_train = pd.read_csv(TRAIN_DATASET_PATH)

df_test = pd.read_csv(TEST_DATASET_PATH)

df_train.shape, df_test.shape

((7500, 17), (2500, 16))

In [2561]:
class Data:
    """Подготовка исходных данных"""
    
    def __init__(self):
        """Параметры класса"""
        self.medians = None
        self.years_mode = None
        self.years_to_numbers = None
        self.Years_of_Credit_History_max = None
        self.Annual_Income_condition = None
        self.Maximum_Open_Credit_min = None
        self.Maximum_Open_Credit_max = None
        self.condition_last_delinquent = None
        self.Current_Loan_Amount_max = None
        self.Credit_Score_max = None
        self.condition_Credit_Score = None
        self.Credit_Score_min = None
        self.Annual_Income_max = None
        self.Monthly_Debt_max = None
        self.Months_since_last_delinquent_max = None
        
        
    def fit(self, df):
        
        
        # Расчет медиан
        self.medians = df.median()
        
        
        self.years_mode = df['Years in current job'].mode()[0]
        
        self.years_to_numbers = {'< 1 year': 0,
                                 '1 year': 1,
                                 '2 years': 2,
                                 '3 years': 3,
                                 '4 years': 4,
                                 '5 years': 5,
                                 '6 years': 6,
                                 '7 years': 7,
                                 '8 years': 8,
                                 '9 years': 9,
                                 '10+ years': 10}
        
        self.Years_of_Credit_History_max = 45
        
        self.Annual_Income_max = 6000000
       
        self.Maximum_Open_Credit_max = 1500000
        
        
        self.Credit_Score_max = 751
        self.Credit_Score_min = 600
       
        self.Monthly_Debt_max = 48000
        self.Monthly_Debt_min = 0
        
        self.Current_Loan_Amount_max = 900000
        
        self.Current_Credit_Balance_max = 800000
        
        self.Number_of_Open_Accounts_max = 25
        
        self.Months_since_last_delinquent_max = 95
       
        
    def transform(self, df):
        """Трансформация данных"""
            
    # 1. Изменение типа

        # Term, Home Ownership
        df.loc[(df['Home Ownership'] == 'Have Mortgage'), 'Home Ownership'] = 'Home Mortgage' # объединение одинаковых по смыслу свойства признака
        df = pd.get_dummies(df, columns=['Term'])
        df = pd.get_dummies(df, columns=['Home Ownership'])
#         df.drop(['Home Ownership'], axis=1, inplace=True)
#         df.drop(['Term'], axis=1, inplace=True)
        
        # Years in current job
        df['Years in current job'].fillna(self.years_mode, inplace=True) # заполнение пропусков наиболее часто встречающимися значениями
        df['Years in current job'].replace(self.years_to_numbers, inplace=True)
#         df.drop('Years in current job', axis=1, inplace=True)
    
    
    # 2. Выбросы (outliers)
    
        # Number of Open Accounts
#         df.loc[df['Number of Open Accounts'] > self.Number_of_Open_Accounts_max, 'Number of Open Accounts'] = None
        df['Number of Open Accounts'].clip(upper=self.Number_of_Open_Accounts_max, axis=0, inplace=True)
        
        # Current Credit Balance
#         df.loc[(df['Current Credit Balance'] > self.Current_Credit_Balance_max), 'Current Credit Balance'] = None
        df['Current Credit Balance'].clip(upper=self.Current_Credit_Balance_max, axis=0, inplace=True)

    
        # Years of Credit History
#         df.loc[(df['Years of Credit History'] > self.Years_of_Credit_History_max), 'Years of Credit History'] = None
        df['Years of Credit History'].clip(upper=self.Years_of_Credit_History_max, axis=0, inplace=True)
        
        # Maximum Open Credit
#         df.loc[df['Maximum Open Credit'] > self.Maximum_Open_Credit_max, 'Maximum Open Credit'] = None
        df['Maximum Open Credit'].clip(upper=self.Maximum_Open_Credit_max, axis=0, inplace=True)
        
        # Monthly Debt
#         df.loc[(df['Monthly Debt'] > self.Monthly_Debt_max), 'Monthly Debt'] = None
        df['Monthly Debt'].clip(upper=self.Monthly_Debt_max, lower= self.Monthly_Debt_min, axis=0, inplace=True)
        
        # Purpose
        df.loc[(df['Purpose'] != 'debt consolidation') & (df['Purpose'] != 'home improvements'), 'Purpose'] = 'other'
        df = pd.get_dummies(df, columns=['Purpose'])
#         df.drop('Purpose', axis=1, inplace=True)
        
        # Credit Score
#         df.loc[(df['Credit Score'] > self.Credit_Score_max) | (df['Credit Score'] < self.Credit_Score_min), 'Credit Score'] = None 
        df['Credit Score nan'] = 0
        df.loc[df['Credit Score'].isna(), 'Credit Score nan'] = 1
        df['Credit Score'].clip(upper=self.Credit_Score_max, lower=self.Credit_Score_min, axis=0, inplace=True)
        
    
        # Annual Income
#         df.loc[df['Annual Income'] > self.Annual_Income_max, 'Annual Income'] = None
        df['Annual Income nan'] = 0
        df.loc[df['Annual Income'].isna(), 'Annual Income nan'] = 1
#         df['Annual Income'].clip(upper=self.Annual_Income_max, axis=0, inplace=True)
        
        # Current Loan Amount
#         df.loc[df['Current Loan Amount'] > self.Current_Loan_Amount_max, 'Current Loan Amount'] = None
#         df['Current Loan Amount outlier'] = 0
#         df.loc[df['Current Loan Amount'] > self.Current_Loan_Amount_max, 'Current Loan Amount outlier'] = 1
        df['Current Loan Amount'].clip(upper=self.Current_Loan_Amount_max, axis=0, inplace=True)
    
        # Months since last delinquent
#         df['Months since last delinquent nan'] = 0
#         df.loc[df['Months since last delinquent'].isna(), 'Months since last delinquent nan'] = 1
        df['Months since last delinquent'].clip(upper=self.Months_since_last_delinquent_max, axis=0, inplace=True)
        
        
        
#         df.drop('Bankruptcies', axis=1, inplace=True)
#         df.drop('Tax Liens', axis=1, inplace=True)
#         df.drop('Months since last delinquent', axis=1, inplace=True)
        
        
        
         
        
    # 3. Пропуски
        
        
        # Заполнение оставшихся пропусков медианами
        
        df.fillna(self.medians, inplace=True)
        
        

        return df

In [2562]:
X = df_train.drop(columns='Credit Default')

In [2563]:
y = df_train['Credit Default']

# Разбиение выборки

In [2564]:
from sklearn.model_selection import train_test_split, KFold, GridSearchCV, cross_val_score,  RandomizedSearchCV

# 3. Модели
from sklearn.linear_model import LogisticRegression
import xgboost as xgb, lightgbm as lgbm, catboost as catb
from sklearn.preprocessing import StandardScaler

# 4. Метрики качества
from sklearn.metrics import classification_report, f1_score, precision_score, recall_score

In [2565]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, shuffle=True, random_state=1111)

In [2566]:
data = Data()

In [2567]:
data.fit(X_train)

X_train = data.transform(X_train)
X_test = data.transform(X_test)

X_train.isna().sum().sum(), X_test.isna().sum().sum()

(0, 0)

# Балансировка

In [2568]:
y_train.value_counts()

0    4029
1    1596
Name: Credit Default, dtype: int64

In [2569]:
TARGET_NAME = 'Credit Default'

In [2570]:
def balance_df_by_target(df, target_name):

    target_counts = df[target_name].value_counts()

    major_class_name = target_counts.argmax()
    minor_class_name = target_counts.argmin()

    disbalance_coeff = int(target_counts[major_class_name] / target_counts[minor_class_name]) - 1

    for i in range(disbalance_coeff):
        sample = df[df[target_name] == minor_class_name].sample(target_counts[minor_class_name])
        df = df.append(sample, ignore_index=True)

    return df.sample(frac=1)

In [2571]:
df_for_balancing = pd.concat([X_train, y_train], axis=1)
df_for_balancing

,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,...,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Score nan,Annual Income nan,Credit Default
5560,1453842.0,6,0.0,11.0,12.9,372856.0,0.0,45.0,0.0,301158.0,...,1,1,0,0,1,0,0,0,0,0
1963,1168424.0,2,0.0,7.0,22.3,73150.0,0.0,25.0,0.0,251196.0,...,1,0,0,1,1,0,0,1,1,1
6567,1168424.0,6,0.0,8.0,9.3,465014.0,0.0,32.0,0.0,329274.0,...,0,0,1,0,1,0,0,1,1,1
5914,668325.0,7,0.0,12.0,27.8,550858.0,0.0,32.0,0.0,176880.0,...,1,0,0,1,1,0,0,0,0,0
6296,741304.0,5,0.0,9.0,19.4,915596.0,0.0,25.0,0.0,900000.0,...,1,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3468,3141593.0,8,1.0,9.0,19.2,866646.0,1.0,33.0,0.0,694452.0,...,1,1,0,0,1,0,0,0,0,0
3409,1374840.0,10,0.0,7.0,14.8,528220.0,0.0,78.0,0.0,900000.0,...,0,0,0,1,1,0,0,0,0,0
2789,1830384.0,10,0.0,7.0,17.0,329120.0,0.0,32.0,0.0,353232.0,...,1,0,0,1,1,0,0,0,0,0
311,746320.0,9,0.0,4.0,25.6,239668.0,0.0,38.0,0.0,64812.0,...,1,0,0,1,1,0,0,0,0,1
2460,1168424.0,10,0.0,21.0,18.9,670010.0,0.0,32.0,0.0,279994.0,...,1,1,0,0,1,0,0,1,1,1

In [2572]:
df_balanced = balance_df_by_target(df_for_balancing, TARGET_NAME)
    
df_balanced[TARGET_NAME].value_counts()

0    4029
1    3192
Name: Credit Default, dtype: int64

In [2573]:
df_balanced

,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,...,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Score nan,Annual Income nan,Credit Default
607,1168424.0,10,0.0,10.0,24.5,349206.0,0.0,32.0,0.0,153736.0,...,1,1,0,0,1,0,0,1,1,0
6361,1677339.0,6,0.0,13.0,13.5,835054.0,0.0,32.0,0.0,492030.0,...,0,0,1,0,1,0,0,0,0,1
3727,1168424.0,10,0.0,6.0,14.5,292050.0,0.0,32.0,0.0,219626.0,...,1,0,0,1,0,0,1,1,1,0
936,1347613.0,2,0.0,4.0,7.7,108394.0,0.0,32.0,0.0,54186.0,...,1,0,0,1,1,0,0,0,0,0
3903,2136189.0,10,0.0,16.0,19.7,546502.0,0.0,32.0,0.0,539660.0,...,1,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5966,1313774.0,6,0.0,5.0,13.3,212410.0,1.0,21.0,1.0,260788.0,...,0,0,0,1,1,0,0,0,0,1
4915,790742.0,2,0.0,4.0,24.8,183128.0,0.0,32.0,0.0,217998.0,...,1,1,0,0,0,0,1,0,0,0
5253,1168424.0,8,0.0,12.0,22.0,931458.0,0.0,32.0,0.0,543136.0,...,1,1,0,0,1,0,0,1,1,0
466,3131865.0,10,0.0,8.0,24.8,1500000.0,0.0,32.0,0.0,559636.0,...,0,1,0,0,1,0,0,0,0,0
7094,1605956.0,10,0.0,6.0,22.0,1089880.0,0.0,32.0,0.0,765688.0,...,1,0,0,1,1,0,0,0,0,1

In [2574]:
X_train = df_balanced.drop(columns=TARGET_NAME)
y_train = df_balanced[TARGET_NAME]

# Нормализация

In [2575]:
NUMERIC_FEATURE_NAMES  = X_train.select_dtypes(include={'float', 'int'}).columns.to_list()

In [2576]:
NUMERIC_FEATURE_NAMES

['Annual Income',
 'Years in current job',
 'Tax Liens',
 'Number of Open Accounts',
 'Years of Credit History',
 'Maximum Open Credit',
 'Number of Credit Problems',
 'Months since last delinquent',
 'Bankruptcies',
 'Current Loan Amount',
 'Current Credit Balance',
 'Monthly Debt',
 'Credit Score',
 'Credit Score nan',
 'Annual Income nan']

In [2577]:
scaler = StandardScaler()

def scal(df):
    df_norm = df.copy()
    df_norm[NUMERIC_FEATURE_NAMES] = scaler.fit_transform(df_norm[NUMERIC_FEATURE_NAMES])

    df = df_norm.copy()
    
    return df

In [2578]:
X_train = scal(X_train)
X_test = scal(X_test)

In [2579]:
X_test.head(2)

,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,...,Term_Long Term,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Score nan,Annual Income nan
7062,0.219962,-0.593838,-0.103835,-0.007145,-0.459302,0.046223,-0.351357,-0.082015,-0.343485,0.196061,...,0,1,1,0,0,1,0,0,-0.49416,-0.49416
2965,-0.358192,-0.038365,-0.103835,-0.007145,-0.850493,0.126558,-0.351357,0.670796,-0.343485,-0.082672,...,1,0,0,0,1,1,0,0,-0.49416,-0.49416

# Подбор признаков

In [2580]:
features = ['Annual Income',
#             'Annual Income nan',
#             'Years in current job',
#             'Number of Open Accounts',
#             'Years of Credit History',
#             'Maximum Open Credit',
            'Number of Credit Problems',
            'Months since last delinquent',
#             'Months since last delinquent nan',
            'Current Loan Amount',
#             'Current Loan Amount outlier',
#             'Current Credit Balance',
#             'Term_Short Term',
#             'Bankruptcies',
#             'Tax Liens',
            'Term_Long Term',
            'Home Ownership_Home Mortgage',
#             'Home Ownership_Own Home',
#             'Home Ownership_Rent',
#             'Monthly Debt',
#             'Purpose_debt consolidation',
#             'Purpose_other',
#             'Purpose_home improvements',
            'Credit Score nan',
            'Credit Score']

In [2581]:
X_train, X_test = X_train[features], X_test[features]

# Построение модели

In [2582]:
def get_classification_report(y_train_true, y_train_pred, y_test_true, y_test_pred):
    print('TRAIN\n\n' + classification_report(y_train_true, y_train_pred))
    print('TEST\n\n' + classification_report(y_test_true, y_test_pred))
    print('CONFUSION MATRIX\n')
    print(pd.crosstab(y_test_true, y_test_pred))

In [2583]:
model_catb = catb.CatBoostClassifier(silent=True, random_state=21)
model_catb.fit(X_train, y_train)

y_train_pred = model_catb.predict(X_train)
y_test_pred = model_catb.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

TRAIN

              precision    recall  f1-score   support

           0       0.81      0.90      0.85      4029
           1       0.85      0.72      0.78      3192

    accuracy                           0.82      7221
   macro avg       0.83      0.81      0.82      7221
weighted avg       0.83      0.82      0.82      7221

TEST

              precision    recall  f1-score   support

           0       0.82      0.81      0.81      1358
           1       0.51      0.53      0.52       517

    accuracy                           0.73      1875
   macro avg       0.67      0.67      0.67      1875
weighted avg       0.73      0.73      0.73      1875

CONFUSION MATRIX

col_0              0    1
Credit Default
0               1097  261
1                242  275

In [2584]:
model_xgb = xgb.XGBClassifier()
model_xgb.fit(X_train, y_train)

y_train_pred = model_xgb.predict(X_train)
y_test_pred = model_xgb.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

[13:01:52] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
TRAIN

              precision    recall  f1-score   support

           0       0.89      0.94      0.91      4029
           1       0.92      0.85      0.88      3192

    accuracy                           0.90      7221
   macro avg       0.90      0.89      0.90      7221
weighted avg       0.90      0.90      0.90      7221

TEST

              precision    recall  f1-score   support

           0       0.79      0.80      0.80      1358
           1       0.46      0.45      0.46       517

    accuracy                           0.71      1875
   macro avg       0.63      0.63      0.63      1875
weighted avg       0.70      0.71      0.70      1875

CONFUSION MATRIX

col_0              0    1
Credit Default
0               1091  267
1                286  231

In [2585]:
model_lgbm = lgbm.LGBMClassifier(random_state=21)
model_lgbm.fit(X_train, y_train)

y_train_pred = model_lgbm.predict(X_train)
y_test_pred = model_lgbm.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

TRAIN

              precision    recall  f1-score   support

           0       0.82      0.91      0.86      4029
           1       0.86      0.75      0.80      3192

    accuracy                           0.84      7221
   macro avg       0.84      0.83      0.83      7221
weighted avg       0.84      0.84      0.83      7221

TEST

              precision    recall  f1-score   support

           0       0.81      0.81      0.81      1358
           1       0.50      0.49      0.50       517

    accuracy                           0.72      1875
   macro avg       0.65      0.65      0.65      1875
weighted avg       0.72      0.72      0.72      1875

CONFUSION MATRIX

col_0              0    1
Credit Default
0               1100  258
1                262  255

# Финальная модель

In [2586]:
model_catb = catb.CatBoostClassifier(silent=True, random_state=21)

In [2587]:
params = {'n_estimators':[500, 1000, 1500, 2000, 2500, 3000], 
          'max_depth':[5, 6, 7, 8, 10],
          'learning_rate':[0.001, 0.01, 0.05]}

In [2588]:
cv=KFold(n_splits=3, shuffle=True)

In [2589]:
# %%time

# rs = RandomizedSearchCV(model_catb, params, scoring='f1', cv=cv, n_jobs=-1)
# rs.fit(X_train, y_train)

In [2590]:
# rs.best_params_

In [2591]:
# rs.best_score_

In [2592]:
%%time

final_model = catb.CatBoostClassifier(n_estimators=3000, max_depth=5, learning_rate=0.01,
                                      silent=True)
final_model.fit(X_train, y_train)

y_train_pred = final_model.predict(X_train)
y_test_pred = final_model.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

TRAIN

              precision    recall  f1-score   support

           0       0.79      0.90      0.84      4029
           1       0.84      0.71      0.77      3192

    accuracy                           0.81      7221
   macro avg       0.82      0.80      0.80      7221
weighted avg       0.81      0.81      0.81      7221

TEST

              precision    recall  f1-score   support

           0       0.82      0.80      0.81      1358
           1       0.51      0.53      0.52       517

    accuracy                           0.73      1875
   macro avg       0.66      0.67      0.66      1875
weighted avg       0.73      0.73      0.73      1875

CONFUSION MATRIX

col_0              0    1
Credit Default
0               1092  266
1                245  272
Wall time: 11.6 s

In [2593]:
feature_importances = pd.DataFrame(zip(X_train.columns, 
                                       final_model.feature_importances_), 
                                   columns=['feature_name', 'importance'])

feature_importances.sort_values(by='importance', ascending=False, inplace=True)

In [2594]:
feature_importances

                   feature_name  importance
3           Current Loan Amount   36.679377
7                  Credit Score   28.278164
0                 Annual Income   15.871244
2  Months since last delinquent    9.101900
4                Term_Long Term    5.429165
5  Home Ownership_Home Mortgage    2.019361
1     Number of Credit Problems    1.647531
6              Credit Score nan    0.973259