In [780]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import warnings
warnings.simplefilter('ignore')

In [781]:
TRAIN_DATASET_PATH = './course_project_train.csv'
TEST_DATASET_PATH = './course_project_test.csv'

In [782]:
df_train = pd.read_csv(TRAIN_DATASET_PATH)

df_test = pd.read_csv(TEST_DATASET_PATH)

df_train.shape, df_test.shape

((7500, 17), (2500, 16))

In [783]:
class Data:
    """Подготовка исходных данных"""
    
    def __init__(self):
        """Параметры класса"""
        self.medians = None
        self.years_mode = None
        self.years_to_numbers = None
        self.Years_of_Credit_History_max = None
        self.Annual_Income_condition = None
        self.Maximum_Open_Credit_min = None
        self.Maximum_Open_Credit_max = None
        self.condition_last_delinquent = None
        self.Current_Loan_Amount_max = None
        self.Credit_Score_max = None
        self.condition_Credit_Score = None
        self.Credit_Score_min = None
        self.Annual_Income_max = None
        self.Monthly_Debt_max = None
        self.Months_since_last_delinquent_max = None
        
        
    def fit(self, df):
        
        
        # Расчет медиан
        self.medians = df.median()
        
        
        self.years_mode = df['Years in current job'].mode()[0]
        
        self.years_to_numbers = {'< 1 year': 0,
                                 '1 year': 1,
                                 '2 years': 2,
                                 '3 years': 3,
                                 '4 years': 4,
                                 '5 years': 5,
                                 '6 years': 6,
                                 '7 years': 7,
                                 '8 years': 8,
                                 '9 years': 9,
                                 '10+ years': 10}
        
        self.Years_of_Credit_History_max = 45
        
        self.Annual_Income_max = 6000000
       
        self.Maximum_Open_Credit_max = 1500000
        
        
        self.Credit_Score_max = 751
        self.Credit_Score_min = 600
       
        self.Monthly_Debt_max = 48000
        self.Monthly_Debt_min = 0
        
        self.Current_Loan_Amount_max = 900000
        
        self.Current_Credit_Balance_max = 800000
        
        self.Number_of_Open_Accounts_max = 25
        
        self.Months_since_last_delinquent_max = 95
       
        
    def transform(self, df):
        """Трансформация данных"""
            
    # 1. Изменение типа

        # Term, Home Ownership
        df.loc[(df['Home Ownership'] == 'Have Mortgage'), 'Home Ownership'] = 'Home Mortgage' # объединение одинаковых по смыслу свойства признака
        df = pd.get_dummies(df, columns=['Term'])
        df = pd.get_dummies(df, columns=['Home Ownership'])
#         df.drop(['Home Ownership'], axis=1, inplace=True)
#         df.drop(['Term'], axis=1, inplace=True)
        
        # Years in current job
        df['Years in current job'].fillna(self.years_mode, inplace=True) # заполнение пропусков наиболее часто встречающимися значениями
        df['Years in current job'].replace(self.years_to_numbers, inplace=True)
#         df.drop('Years in current job', axis=1, inplace=True)
    
    
    # 2. Выбросы (outliers)
    
        # Number of Open Accounts
#         df.loc[df['Number of Open Accounts'] > self.Number_of_Open_Accounts_max, 'Number of Open Accounts'] = None
        df['Number of Open Accounts'].clip(upper=self.Number_of_Open_Accounts_max, axis=0, inplace=True)
        
        # Current Credit Balance
        df['Current Credit Balance outlier'] = 0
        df.loc[df['Current Credit Balance'] > self.Current_Credit_Balance_max, 'Current Credit Balance outlier'] = 1
#         df.loc[(df['Current Credit Balance'] > self.Current_Credit_Balance_max), 'Current Credit Balance'] = None
        df['Current Credit Balance'].clip(upper=self.Current_Credit_Balance_max, axis=0, inplace=True)

    
        # Years of Credit History
#         df.loc[(df['Years of Credit History'] > self.Years_of_Credit_History_max), 'Years of Credit History'] = None
        df['Years of Credit History'].clip(upper=self.Years_of_Credit_History_max, axis=0, inplace=True)
        
        # Maximum Open Credit
#         df.loc[df['Maximum Open Credit'] > self.Maximum_Open_Credit_max, 'Maximum Open Credit'] = None
        df['Maximum Open Credit'].clip(upper=self.Maximum_Open_Credit_max, axis=0, inplace=True)
        
        # Monthly Debt
#         df.loc[(df['Monthly Debt'] > self.Monthly_Debt_max), 'Monthly Debt'] = None
        df['Monthly Debt'].clip(upper=self.Monthly_Debt_max, lower= self.Monthly_Debt_min, axis=0, inplace=True)
        
        # Purpose
        df.loc[(df['Purpose'] != 'debt consolidation') & (df['Purpose'] != 'home improvements'), 'Purpose'] = 'other'
        df = pd.get_dummies(df, columns=['Purpose'])
#         df.drop('Purpose', axis=1, inplace=True)
        
        # Credit Score
#         df.loc[(df['Credit Score'] > self.Credit_Score_max) | (df['Credit Score'] < self.Credit_Score_min), 'Credit Score'] = None 
        df['Credit Score nan'] = 0
        df.loc[df['Credit Score'].isna(), 'Credit Score nan'] = 1
        df['Credit Score'].clip(upper=self.Credit_Score_max, lower=self.Credit_Score_min, axis=0, inplace=True)
        
    
        # Annual Income
#         df.loc[df['Annual Income'] > self.Annual_Income_max, 'Annual Income'] = None
        df['Annual Income nan'] = 0
        df.loc[df['Annual Income'].isna(), 'Annual Income nan'] = 1
        df['Annual Income'].clip(upper=self.Annual_Income_max, axis=0, inplace=True)
        
        # Current Loan Amount
#         df.loc[df['Current Loan Amount'] > self.Current_Loan_Amount_max, 'Current Loan Amount'] = None
        df['Current Loan Amount outlier'] = 0
        df.loc[df['Current Loan Amount'] > self.Current_Loan_Amount_max, 'Current Loan Amount outlier'] = 1
        df['Current Loan Amount'].clip(upper=self.Current_Loan_Amount_max, axis=0, inplace=True)
    
        # Months since last delinquent
        df['Months since last delinquent nan'] = 0
        df.loc[df['Months since last delinquent'].isna(), 'Months since last delinquent nan'] = 1
        df['Months since last delinquent'].clip(upper=self.Months_since_last_delinquent_max, axis=0, inplace=True)
        
        

        
        
        
         
        
    # 3. Пропуски
        
        
        # Заполнение оставшихся пропусков медианами
        
        df.fillna(self.medians, inplace=True)
        
        

        return df

In [784]:
X = df_train.drop(columns='Credit Default')

In [785]:
y = df_train['Credit Default']

# Разбиение выборки

In [786]:
from sklearn.model_selection import train_test_split, KFold, GridSearchCV, cross_val_score,  RandomizedSearchCV

# 3. Модели
from sklearn.linear_model import LogisticRegression
import xgboost as xgb, lightgbm as lgbm, catboost as catb
from sklearn.preprocessing import StandardScaler

# 4. Метрики качества
from sklearn.metrics import classification_report, f1_score, precision_score, recall_score

In [787]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, shuffle=True)

In [788]:
data = Data()

In [789]:
data.fit(X_train)

X_train = data.transform(X_train)
X_test = data.transform(X_test)

X_train.isna().sum().sum(), X_test.isna().sum().sum()

(0, 0)

# Балансировка

In [790]:
y_train.value_counts()

0    4062
1    1563
Name: Credit Default, dtype: int64

In [791]:
TARGET_NAME = 'Credit Default'

In [792]:
def balance_df_by_target(df, target_name):

    target_counts = df[target_name].value_counts()

    major_class_name = target_counts.argmax()
    minor_class_name = target_counts.argmin()

    disbalance_coeff = int(target_counts[major_class_name] / target_counts[minor_class_name]) - 1

    for i in range(disbalance_coeff):
        sample = df[df[target_name] == minor_class_name].sample(target_counts[minor_class_name])
        df = df.append(sample, ignore_index=True)

    return df.sample(frac=1)

In [793]:
df_for_balancing = pd.concat([X_train, y_train], axis=1)
df_for_balancing

,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,...,Home Ownership_Rent,Current Credit Balance outlier,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Score nan,Annual Income nan,Current Loan Amount outlier,Months since last delinquent nan,Credit Default
4590,1339006.0,7,0.0,8.0,21.0,361768.0,0.0,67.0,0.0,215336.0,...,0,0,1,0,0,0,0,0,0,0
5846,2131382.0,3,0.0,15.0,12.7,727760.0,0.0,20.0,0.0,336534.0,...,1,0,0,0,1,0,0,0,0,0
5068,2044685.0,0,0.0,18.0,17.5,1500000.0,0.0,33.0,0.0,900000.0,...,0,1,0,0,1,0,0,1,1,0
4714,1170666.0,1,0.0,10.0,15.0,336996.0,0.0,73.0,0.0,109472.0,...,1,0,0,0,1,1,1,0,0,0
6333,1170666.0,9,0.0,8.0,18.7,794948.0,0.0,33.0,0.0,786258.0,...,0,0,1,0,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,1170666.0,10,0.0,9.0,17.0,423192.0,1.0,1.0,0.0,394504.0,...,0,0,1,0,0,1,1,0,0,1
5795,1766924.0,6,0.0,19.0,15.7,1500000.0,0.0,33.0,0.0,430716.0,...,0,0,1,0,0,0,0,0,1,0
5768,541842.0,4,0.0,9.0,8.2,387728.0,0.0,33.0,0.0,211750.0,...,1,0,1,0,0,0,0,0,1,0
2882,468920.0,2,0.0,11.0,5.9,232562.0,0.0,33.0,0.0,108592.0,...,0,0,1,0,0,0,0,0,1,0
2036,1172984.0,4,0.0,6.0,24.2,1500000.0,0.0,33.0,0.0,335324.0,...,0,1,0,0,1,0,0,0,1,0

In [794]:
df_balanced = balance_df_by_target(df_for_balancing, TARGET_NAME)
    
df_balanced[TARGET_NAME].value_counts()

0    4062
1    3126
Name: Credit Default, dtype: int64

In [795]:
df_balanced

,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,...,Home Ownership_Rent,Current Credit Balance outlier,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Score nan,Annual Income nan,Current Loan Amount outlier,Months since last delinquent nan,Credit Default
1025,537377.0,6,0.0,12.0,11.2,255794.0,0.0,33.0,0.0,166672.0,...,0,0,1,0,0,0,0,0,1,1
3379,2920680.0,10,0.0,11.0,17.3,590898.0,1.0,33.0,1.0,563640.0,...,1,0,1,0,0,0,0,0,1,0
6064,334039.0,5,0.0,12.0,29.1,90310.0,0.0,35.0,0.0,107448.0,...,1,0,1,0,0,0,0,0,0,1
5426,1170666.0,0,0.0,13.0,13.1,1500000.0,0.0,33.0,0.0,350372.0,...,1,1,1,0,0,1,1,0,1,0
5524,1713591.0,4,0.0,24.0,16.3,1500000.0,0.0,50.0,0.0,529100.0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6487,757055.0,10,0.0,17.0,28.7,669460.0,1.0,33.0,1.0,86108.0,...,0,0,1,0,0,0,0,0,1,1
4438,599374.0,5,0.0,7.0,16.0,129976.0,0.0,33.0,0.0,89540.0,...,1,0,1,0,0,0,0,0,1,0
1853,1170666.0,2,0.0,6.0,17.7,428076.0,0.0,33.0,0.0,135190.0,...,1,0,0,0,1,1,1,0,1,0
2039,1270055.0,8,0.0,8.0,20.2,574420.0,1.0,33.0,1.0,21780.0,...,0,0,1,0,0,0,0,0,1,0
2278,1478979.0,1,0.0,12.0,13.0,826980.0,0.0,33.0,0.0,593736.0,...,0,0,1,0,0,0,0,0,1,0

In [796]:
X_train = df_balanced.drop(columns=TARGET_NAME)
y_train = df_balanced[TARGET_NAME]

# Нормализация

In [797]:
NUMERIC_FEATURE_NAMES  = X_train.select_dtypes(include={'float', 'int'}).columns.to_list()

In [798]:
NUMERIC_FEATURE_NAMES

['Annual Income',
 'Years in current job',
 'Tax Liens',
 'Number of Open Accounts',
 'Years of Credit History',
 'Maximum Open Credit',
 'Number of Credit Problems',
 'Months since last delinquent',
 'Bankruptcies',
 'Current Loan Amount',
 'Current Credit Balance',
 'Monthly Debt',
 'Credit Score',
 'Current Credit Balance outlier',
 'Credit Score nan',
 'Annual Income nan',
 'Current Loan Amount outlier',
 'Months since last delinquent nan']

In [799]:
scaler = StandardScaler()

def scal(df):
    df_norm = df.copy()
    df_norm[NUMERIC_FEATURE_NAMES] = scaler.fit_transform(df_norm[NUMERIC_FEATURE_NAMES])

    df = df_norm.copy()
    
    return df

In [800]:
X_train = scal(X_train)
X_test = scal(X_test)

In [801]:
X_test.head(2)

,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,...,Home Ownership_Own Home,Home Ownership_Rent,Current Credit Balance outlier,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Score nan,Annual Income nan,Current Loan Amount outlier,Months since last delinquent nan
3577,-1.155062,-1.093914,-0.111665,-1.297342,-1.178654,-0.811315,-0.354098,-0.02937,-0.343989,-0.783062,...,0,1,-0.206943,1,0,0,-0.501666,-0.501666,-0.357993,0.899914
1616,6.244619,1.099178,3.695098,-0.659444,1.068008,2.000076,1.746957,-0.02937,-0.343989,1.490487,...,0,0,-0.206943,0,1,0,-0.501666,-0.501666,-0.357993,0.899914

# Подбор признаков

In [802]:
features = ['Annual Income',
#             'Annual Income nan',
#             'Years in current job',
#             'Number of Open Accounts',
#             'Years of Credit History',
#             'Maximum Open Credit',
            'Number of Credit Problems',
#             'Months since last delinquent',
#             'Months since last delinquent nan',
            'Current Loan Amount',
            'Current Loan Amount outlier',
#             'Current Credit Balance',
#             'Current Credit Balance outlier',
#             'Term_Short Term',
#             'Bankruptcies',
#             'Tax Liens',
            'Term_Long Term',
            'Home Ownership_Home Mortgage',
#             'Home Ownership_Own Home',
#             'Home Ownership_Rent',
#             'Monthly Debt',
#             'Purpose_debt consolidation',
#             'Purpose_other',
#             'Purpose_home improvements',
            'Credit Score nan',
            'Credit Score']

In [803]:
X_train, X_test = X_train[features], X_test[features]

# Построение модели

In [804]:
def get_classification_report(y_train_true, y_train_pred, y_test_true, y_test_pred):
    print('TRAIN\n\n' + classification_report(y_train_true, y_train_pred))
    print('TEST\n\n' + classification_report(y_test_true, y_test_pred))
    print('CONFUSION MATRIX\n')
    print(pd.crosstab(y_test_true, y_test_pred))

In [ ]:
model_catb = catb.CatBoostClassifier(silent=True, random_state=21)
model_catb.fit(X_train, y_train)

y_train_pred = model_catb.predict(X_train)
y_test_pred = model_catb.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

In [ ]:
model_xgb = xgb.XGBClassifier()
model_xgb.fit(X_train, y_train)

y_train_pred = model_xgb.predict(X_train)
y_test_pred = model_xgb.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

In [ ]:
model_lgbm = lgbm.LGBMClassifier(random_state=21)
model_lgbm.fit(X_train, y_train)

y_train_pred = model_lgbm.predict(X_train)
y_test_pred = model_lgbm.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

# Финальная модель

In [ ]:
model_catb = catb.CatBoostClassifier(silent=True, random_state=21)

In [ ]:
params = {'n_estimators':[500, 1000, 1500, 2000, 2500, 3000], 
          'max_depth':[5, 6, 7, 8, 10],
          'learning_rate':[0.001, 0.01, 0.05]}

In [ ]:
cv=KFold(n_splits=3, shuffle=True)

In [ ]:
# %%time

# rs = RandomizedSearchCV(model_catb, params, scoring='f1', cv=cv, n_jobs=-1)
# rs.fit(X_train, y_train)

In [ ]:
# rs.best_params_

In [ ]:
# rs.best_score_

In [ ]:
%%time

final_model = catb.CatBoostClassifier(n_estimators=7000, max_depth=7, learning_rate=0.001,
                                      silent=True)
final_model.fit(X_train, y_train)

y_train_pred = final_model.predict(X_train)
y_test_pred = final_model.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

In [ ]:
feature_importances = pd.DataFrame(zip(X_train.columns, 
                                       final_model.feature_importances_), 
                                   columns=['feature_name', 'importance'])

feature_importances.sort_values(by='importance', ascending=False, inplace=True)

In [ ]:
feature_importances