In [509]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import warnings
warnings.simplefilter('ignore')

In [510]:
TRAIN_DATASET_PATH = './course_project_train.csv'
TEST_DATASET_PATH = './course_project_test.csv'

In [511]:
df_train = pd.read_csv(TRAIN_DATASET_PATH)

df_test = pd.read_csv(TEST_DATASET_PATH)

df_train.shape, df_test.shape

((7500, 17), (2500, 16))

In [615]:
class Data:
    """Подготовка исходных данных"""
    
    def __init__(self):
        """Параметры класса"""
        self.medians = None
        self.years_mode = None
        self.years_to_numbers = None
        self.Years_of_Credit_History_max = None
        self.Annual_Income_condition = None
        self.Maximum_Open_Credit_min = None
        self.Maximum_Open_Credit_max = None
        self.condition_last_delinquent = None
        self.Current_Loan_Amount_max = None
        self.Credit_Score_max = None
        self.condition_Credit_Score = None
        self.Credit_Score_min = None
        self.Annual_Income_max = None
        
        
    def fit(self, df):
        
        
        # Расчет медиан
        self.medians = df.median()
        
        
        self.years_mode = df['Years in current job'].mode()[0]
        
        self.years_to_numbers = {'< 1 year': 0,
                                 '1 year': 1,
                                 '2 years': 2,
                                 '3 years': 3,
                                 '4 years': 4,
                                 '5 years': 5,
                                 '6 years': 6,
                                 '7 years': 7,
                                 '8 years': 8,
                                 '9 years': 9,
                                 '10+ years': 10}
        
        self.Years_of_Credit_History_max = df['Years of Credit History'].quantile(0.99)
        
        self.Annual_Income_max = 3400000
       
        self.Maximum_Open_Credit_min = df['Maximum Open Credit'].quantile(0.01)
        self.Maximum_Open_Credit_max = df['Maximum Open Credit'].quantile(0.99)
        
        
        self.Credit_Score_max = 751
        self.Credit_Score_min = 600
       
        
        self.Current_Loan_Amount_max = 800000
       
        
    def transform(self, df):
        """Трансформация данных"""
            
    # 1. Изменение типа

        # Term, Home Ownership
        df.loc[(df['Home Ownership'] == 'Have Mortgage'), 'Home Ownership'] = 'Home Mortgage' # объединение одинаковых по смыслу свойства признака
        df = pd.get_dummies(df, columns=['Term', 'Home Ownership'])
        
        # Years in current job
        df['Years in current job'].fillna(self.years_mode, inplace=True) # заполнение пропусков наиболее часто встречающимися значениями
        df['Years in current job'].replace(self.years_to_numbers, inplace=True)
        
    
    # 2. Выбросы (outliers)
    
        # Number of Open Accounts
        df.loc[df['Number of Open Accounts'] > 25, 'Number of Open Accounts'] = None
        
        # Current Credit Balance
        df.loc[(df['Current Credit Balance'] > 800000), 'Current Credit Balance'] = None
    
        # Years of Credit History
        df['Years of Credit History'].clip(upper=self.Years_of_Credit_History_max, axis=0, inplace=True)
        
        # Maximum Open Credit
        df['Maximum Open Credit'].clip(upper=self.Maximum_Open_Credit_max, lower=self.Maximum_Open_Credit_min, axis=0, inplace=True)
        
        # Purpose
        df.loc[(df['Purpose'] != 'debt consolidation') & (df['Purpose'] != 'home improvements'), 'Purpose'] = 'other'
        df = pd.get_dummies(df, columns=['Purpose'])
        
        # Credit Score
        df.loc[(df['Credit Score'] > self.Credit_Score_max) | (df['Credit Score'] < self.Credit_Score_min), 'Credit Score'] = None 
        
        # Annual Income
        df.loc[df['Annual Income'] > self.Annual_Income_max, 'Annual Income'] = None
        
        # Current Loan Amount
        df.loc[df['Current Loan Amount'] > self.Current_Loan_Amount_max, 'Current Loan Amount'] = None
        
         
        
    # 3. Пропуски
        
        
        # Заполнение оставшихся пропусков медианами
        
        df.fillna(self.medians, inplace=True)
        
        

        return df

In [616]:
X = df_train.drop(columns='Credit Default')

In [617]:
y = df_train['Credit Default']

In [618]:
from sklearn.model_selection import train_test_split, KFold, GridSearchCV, cross_val_score,  RandomizedSearchCV

# 3. Модели
from sklearn.linear_model import LogisticRegression
import xgboost as xgb, lightgbm as lgbm, catboost as catb
from sklearn.preprocessing import StandardScaler

# 4. Метрики качества
from sklearn.metrics import classification_report, f1_score, precision_score, recall_score

In [619]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, shuffle=False, random_state=42)

In [620]:
data = Data()

In [621]:
data.fit(X_train)

X_train = data.transform(X_train)
X_test = data.transform(X_test)

X_train.isna().sum().sum(), X_test.isna().sum().sum()

(0, 0)

# Нормализация

In [622]:
NUMERIC_FEATURE_NAMES  = X_train.select_dtypes(include={'float', 'int'}).columns.to_list()

In [623]:
NUMERIC_FEATURE_NAMES

['Annual Income',
 'Years in current job',
 'Tax Liens',
 'Number of Open Accounts',
 'Years of Credit History',
 'Maximum Open Credit',
 'Number of Credit Problems',
 'Months since last delinquent',
 'Bankruptcies',
 'Current Loan Amount',
 'Current Credit Balance',
 'Monthly Debt',
 'Credit Score']

In [624]:
scaler = StandardScaler()

def scal(df):
    df_norm = df.copy()
    df_norm[NUMERIC_FEATURE_NAMES] = scaler.fit_transform(df_norm[NUMERIC_FEATURE_NAMES])

    df = df_norm.copy()
    
    return df

In [625]:
X_train = scal(X_train)

In [626]:
X_test = scal(X_test)

# Балансировка

In [627]:
y_train.value_counts()

0    4069
1    1556
Name: Credit Default, dtype: int64

In [628]:
TARGET_NAME = 'Credit Default'

In [629]:
def balance_df_by_target(df, target_name):

    target_counts = df[target_name].value_counts()

    major_class_name = target_counts.argmax()
    minor_class_name = target_counts.argmin()

    disbalance_coeff = int(target_counts[major_class_name] / target_counts[minor_class_name]) - 1

    for i in range(disbalance_coeff):
        sample = df[df[target_name] == minor_class_name].sample(target_counts[minor_class_name])
        df = df.append(sample, ignore_index=True)

    return df.sample(frac=1)

In [630]:
df_for_balancing = pd.concat([X_train, y_train], axis=1)
df_for_balancing

,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,...,Credit Score,Term_Long Term,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Default
0,-1.452015,1.087052,-0.115543,0.030046,1.159191,0.087769,1.637151,-0.081956,2.545244,0.000054,...,1.054878,0,1,0,1,0,1,0,0,0
1,-0.419351,1.087052,-0.115543,0.926648,-0.429969,0.952660,-0.341997,-0.081956,-0.337179,-0.253273,...,0.548447,1,0,0,1,0,1,0,0,1
2,-0.940197,0.537715,-0.115543,0.030046,2.416071,0.953888,-0.341997,-0.081956,-0.337179,0.000054,...,0.759460,0,1,1,0,0,1,0,0,0
3,-0.838230,-0.011622,-0.115543,-0.642405,0.610208,-0.851771,1.637151,-0.081956,2.545244,-1.087807,...,-1.266266,0,1,0,1,0,1,0,0,0
4,-0.892968,0.537715,-0.115543,0.478347,-0.675566,-0.435810,1.637151,-0.081956,-0.337179,-1.061976,...,-0.211201,0,1,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5620,0.151141,0.537715,-0.115543,-0.194104,0.277929,-0.324700,-0.341997,-0.081956,-0.337179,-0.862358,...,0.675054,0,1,0,0,1,1,0,0,0
5621,-0.216899,-0.835626,-0.115543,-0.418255,-0.357734,-0.049977,-0.341997,0.526855,-0.337179,0.720777,...,0.337433,1,0,1,0,0,1,0,0,1
5622,-0.149739,-0.286290,-0.115543,-0.418255,0.234589,-0.263138,-0.341997,-0.081956,-0.337179,-0.792024,...,0.337433,0,1,1,0,0,1,0,0,0
5623,0.032782,-1.110295,-0.115543,-1.987308,0.249036,-0.840756,-0.341997,-0.081956,-0.337179,0.000054,...,0.801662,1,0,1,0,0,1,0,0,0
5624,-1.488231,-0.560958,-0.115543,-1.314857,-0.791142,-0.890688,-0.341997,-1.299579,-0.337179,-0.949443,...,0.675054,0,1,1,0,0,1,0,0,0

In [631]:
df_balanced = balance_df_by_target(df_for_balancing, TARGET_NAME)
    
df_balanced[TARGET_NAME].value_counts()

0    4069
1    3112
Name: Credit Default, dtype: int64

In [632]:
df_balanced

,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,...,Credit Score,Term_Long Term,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_debt consolidation,Purpose_home improvements,Purpose_other,Credit Default
1748,-0.149739,1.087052,-0.115543,-1.763158,3.207184,-1.004331,1.637151,0.594500,2.545244,-0.502764,...,0.337433,0,1,1,0,0,0,1,0,0
917,1.654390,1.087052,-0.115543,-1.090706,0.913593,-0.853076,-0.341997,-0.284894,-0.337179,0.114633,...,0.801662,0,1,1,0,0,1,0,0,0
2502,-0.149739,1.087052,-0.115543,2.944002,-0.834482,1.579250,-0.341997,-0.081956,-0.337179,0.000054,...,0.210826,0,1,1,0,0,1,0,0,0
1255,-0.061096,-1.110295,-0.115543,-0.418255,-0.545544,-0.022458,-0.341997,0.797437,-0.337179,-0.284987,...,0.506244,0,1,0,0,1,0,0,1,1
1956,-0.799090,-0.011622,-0.115543,-0.194104,-1.369018,-0.651121,-0.341997,-0.081956,-0.337179,-1.392797,...,-1.603887,0,1,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3964,-1.116038,-0.835626,-0.115543,-1.539007,-1.340124,-0.858065,-0.341997,-0.081956,-0.337179,-0.760950,...,-0.717632,0,1,0,0,1,1,0,0,0
1385,-0.576706,-0.835626,-0.115543,0.030046,-1.152314,-0.193901,-0.341997,2.082705,-0.337179,-1.063766,...,0.590649,0,1,0,1,0,1,0,0,0
3802,-0.451162,-1.110295,-0.115543,-0.194104,-0.097690,-0.536595,-0.341997,-2.111327,-0.337179,0.000054,...,0.210826,0,1,1,0,0,1,0,0,0
2906,-0.149739,-0.560958,-0.115543,-0.866556,0.321270,-0.625752,-0.341997,-0.081956,-0.337179,-0.969264,...,0.337433,0,1,0,1,0,1,0,0,0
1831,-0.149089,-0.835626,-0.115543,-1.090706,0.003438,-0.546689,-0.341997,-0.081956,-0.337179,0.000054,...,0.759460,0,1,0,0,1,1,0,0,0

In [633]:
X_train = df_balanced.drop(columns=TARGET_NAME)
y_train = df_balanced[TARGET_NAME]

# Построение модели

In [634]:
def get_classification_report(y_train_true, y_train_pred, y_test_true, y_test_pred):
    print('TRAIN\n\n' + classification_report(y_train_true, y_train_pred))
    print('TEST\n\n' + classification_report(y_test_true, y_test_pred))
    print('CONFUSION MATRIX\n')
    print(pd.crosstab(y_test_true, y_test_pred))

In [635]:
model_catb = catb.CatBoostClassifier(silent=True, random_state=21)
model_catb.fit(X_train, y_train)

y_train_pred = model_catb.predict(X_train)
y_test_pred = model_catb.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

TRAIN

              precision    recall  f1-score   support

           0       0.90      0.93      0.92      4069
           1       0.91      0.87      0.89      3112

    accuracy                           0.90      7181
   macro avg       0.90      0.90      0.90      7181
weighted avg       0.90      0.90      0.90      7181

TEST

              precision    recall  f1-score   support

           0       0.80      0.73      0.77      1318
           1       0.48      0.58      0.52       557

    accuracy                           0.69      1875
   macro avg       0.64      0.65      0.64      1875
weighted avg       0.71      0.69      0.69      1875

CONFUSION MATRIX

col_0             0    1
Credit Default
0               966  352
1               236  321

In [636]:
model_xgb = xgb.XGBClassifier()
model_xgb.fit(X_train, y_train)

y_train_pred = model_xgb.predict(X_train)
y_test_pred = model_xgb.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

[23:30:18] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
TRAIN

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      4069
           1       0.98      0.98      0.98      3112

    accuracy                           0.98      7181
   macro avg       0.98      0.98      0.98      7181
weighted avg       0.98      0.98      0.98      7181

TEST

              precision    recall  f1-score   support

           0       0.80      0.72      0.75      1318
           1       0.46      0.57      0.51       557

    accuracy                           0.67      1875
   macro avg       0.63      0.64      0.63      1875
weighted avg       0.70      0.67      0.68      1875

CONFUSION MATRIX

col_0             0    1
Credit Default
0               944  374
1               241  316

In [637]:
model_lgbm = lgbm.LGBMClassifier(random_state=21)
model_lgbm.fit(X_train, y_train)

y_train_pred = model_lgbm.predict(X_train)
y_test_pred = model_lgbm.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

TRAIN

              precision    recall  f1-score   support

           0       0.92      0.94      0.93      4069
           1       0.92      0.90      0.91      3112

    accuracy                           0.92      7181
   macro avg       0.92      0.92      0.92      7181
weighted avg       0.92      0.92      0.92      7181

TEST

              precision    recall  f1-score   support

           0       0.80      0.68      0.74      1318
           1       0.45      0.61      0.51       557

    accuracy                           0.66      1875
   macro avg       0.63      0.64      0.63      1875
weighted avg       0.70      0.66      0.67      1875

CONFUSION MATRIX

col_0             0    1
Credit Default
0               901  417
1               220  337

In [606]:
model_catb = catb.CatBoostClassifier(silent=True, random_state=21)

In [607]:
# params = {'n_estimators':[50, 100, 200, 300, 400, 500, 1000, 1500, 2000, 2500, 3000], 
#           'max_depth':[3, 4, 5, 6, 7, 8, 10],
#           'learning_rate':[0.001, 0.01, 0.05, 0.1]}

In [608]:
# cv=KFold(n_splits=3, shuffle=True)

In [609]:
# %%time

# rs = GridSearchCV(model_catb, params, scoring='f1', cv=cv, n_jobs=-1)
# rs.fit(X_train, y_train)

In [610]:
# rs.best_params_

In [611]:
# rs.best_score_

In [643]:
%%time

final_model = catb.CatBoostClassifier(n_estimators=500, max_depth=5, learning_rate=0.01,
                                      silent=True)
final_model.fit(X_train, y_train)

y_train_pred = final_model.predict(X_train)
y_test_pred = final_model.predict(X_test)

get_classification_report(y_train, y_train_pred, y_test, y_test_pred)

TRAIN

              precision    recall  f1-score   support

           0       0.74      0.84      0.79      4069
           1       0.74      0.61      0.67      3112

    accuracy                           0.74      7181
   macro avg       0.74      0.72      0.73      7181
weighted avg       0.74      0.74      0.74      7181

TEST

              precision    recall  f1-score   support

           0       0.80      0.76      0.78      1318
           1       0.49      0.57      0.53       557

    accuracy                           0.70      1875
   macro avg       0.65      0.66      0.65      1875
weighted avg       0.71      0.70      0.70      1875

CONFUSION MATRIX

col_0             0    1
Credit Default
0               996  322
1               242  315
Wall time: 2.36 s

In [644]:
feature_importances = pd.DataFrame(zip(X_train.columns, 
                                       final_model.feature_importances_), 
                                   columns=['feature_name', 'importance'])

feature_importances.sort_values(by='importance', ascending=False, inplace=True)

In [645]:
feature_importances

                    feature_name  importance
9            Current Loan Amount   41.219540
12                  Credit Score   26.299707
0                  Annual Income    9.458705
5            Maximum Open Credit    3.283836
14               Term_Short Term    3.152142
13                Term_Long Term    2.731245
11                  Monthly Debt    2.362494
10        Current Credit Balance    1.823352
4        Years of Credit History    1.796615
3        Number of Open Accounts    1.651723
1           Years in current job    1.321784
7   Months since last delinquent    1.321744
15  Home Ownership_Home Mortgage    1.321011
17           Home Ownership_Rent    0.802244
6      Number of Credit Problems    0.462835
20                 Purpose_other    0.312402
8                   Bankruptcies    0.190910
2                      Tax Liens    0.180485
18    Purpose_debt consolidation    0.153755
19     Purpose_home improvements    0.125408
16       Home Ownership_Own Home    0.028062